<%- include('partials/header') %>
<main>
  <h1>Witaj w mojej aplikacji!</h1>
  <p>To jest przykładowa strona główna, gdzie tradycja spotyka nowoczesność.</p>
</main>
<%- include('partials/footer') %>
